# composer
vendor/

# editors
/.vscode

# phpunit
/phpunit.xml
/.phpunit.cache
.phpunit.result.cache

# phpDocumentor
/phpdoc.phar
docs/

# database files
*.sql
*.sql.gz
*.sqlite
*.sqlite3

# log files
*.log

# tmp files
tmp/*

# ideas
.idea/*
