<?php
	return array(
		'debug'	=> false,
		
		'site'	=> array(
			'name'			=> "",
			'default_title'	=> "",
			'domain'		=> "www.domain.com",
			'schema'		=> "http",
		),
		
		'api'	=> array(
			'db'			=> "\Magnetar\Database",
			'tpl'			=> "\Magnetar\Template",
			'cache'			=> "\Magnetar\Cache_Memcache",
			'request'		=> "\Magnetar\Request",
			'hook'			=> "\Magnetar\Hook",
		),
		
		'Database'	=> array(
			'dsn'		=> "mysql",
			'host'		=> "",
			'user'		=> "",
			'pass'		=> "",
			'name'		=> "",
		),
		
		'Template'	=> array(
			'path'		=> __DIR__ ."/public_html/app/views/",
			'debug'		=> false,
		),
		
		'Cache'		=> array(
			'Memcache'	=> array(
				'servers'	=> array(
					array(
						'host'	=> "",
					),
				),
			),
		),
		
		'SphinxClient'	=> array(
			'host'	=> "",
			'port'	=> 9312,
		),
		
		'Router'	=> array(
			'routes'	=> array(
				// key = regex matching relative uri
				// value = \\Namespace\\Controller\\Class
			),
			
			'hooks'	=> array(
				'Router.404'	=> function() {
					header("HTTP/1.0 404 Not Found");
					
					api::tpl()->set('site_title', "Page Not Found")->view('error/404');
				},
			),
		),
	);