	
	
	.body_gallery_modal { overflow-y: hidden; }
	
	#gallery_modal { overflow-y: auto; width: 100%; height: 100%; z-index: 10; position: fixed; top: 0; bottom: 0; left: 0; right: 0; background-color: #000; text-align: center;
		background-color: rgba(0, 0, 0, 0.8);
	}
		
		#gallery_modal .gallery_modal_inset { position: relative; margin: 100px auto 0 auto; display: table; background: #f1f1f1; }
			#gallery_modal .image { position: absolute; left: 0; top: 0; bottom: 0; z-index: 12; }
				#gallery_modal .image .image_element { position: relative; z-index: 13; display: block; }
				#gallery_modal .image .navigate { position: absolute; z-index: 15; top: 0; bottom: 0; left: 0; right: 0; display: none; }
					#gallery_modal .image:hover .navigate { display: block; }
					#gallery_modal .image .navigate a { float: left; position: relative; display: block; width: 50%; height: 100%; margin: 0; padding: 0; text-indent: -9999px; outline: 0; font-size: 1px; color: transparent; cursor: pointer; }
						
						#gallery_modal .image:hover .navigate a { opacity: 0.4; filter:alpha(opacity=40);
							     -o-transition: opacity 0.3s;
							   -moz-transition: opacity 0.3s;
							-webkit-transition: opacity 0.3s;
							        transition: opacity 0.3s;
						}
						
							#gallery_modal .image:hover .navigate a:hover { opacity: 1.0; filter:alpha(opacity=100); }
						
						#gallery_modal .image .navigate a.prev { width: 30%; float: left; }
						
							#gallery_modal .image .navigate a.prev:hover {
								background-image: -ms-linear-gradient(right, transparent 45%, rgba(0, 0, 0, 0.3) 100%);
								background-image: -moz-linear-gradient(right, transparent 45%, rgba(0, 0, 0, 0.3) 100%);
								background-image: -o-linear-gradient(right, transparent 45%, rgba(0, 0, 0, 0.3) 100%);
								background-image: -webkit-gradient(linear, right top, left top, color-stop(0.45, transparent), color-stop(1, rgba(0, 0, 0, 0.3)));
								background-image: -webkit-linear-gradient(right, transparent 45%, rgba(0, 0, 0, 0.3) 100%);
								background-image: linear-gradient(to left, transparent 45%, rgba(0, 0, 0, 0.3) 100%);
							}
						
						#gallery_modal .image .navigate a.next { width: 70%; float: right; cursor: pointer; }
						
							#gallery_modal .image .navigate a.next:hover {
								background-image: -ms-linear-gradient(left, transparent 65%, rgba(0, 0, 0, 0.3) 100%);
								background-image: -moz-linear-gradient(left, transparent 65%, rgba(0, 0, 0, 0.3) 100%);
								background-image: -o-linear-gradient(left, transparent 65%, rgba(0, 0, 0, 0.3) 100%);
								background-image: -webkit-gradient(linear, left top, right top, color-stop(0.65, transparent), color-stop(1, rgba(0, 0, 0, 0.3)));
								background-image: -webkit-linear-gradient(left, transparent 65%, rgba(0, 0, 0, 0.3) 100%);
								background-image: linear-gradient(to right, transparent 65%, rgba(0, 0, 0, 0.3) 100%);
							}
						
						#gallery_modal .image .navigate a.next:before, #gallery_modal .image .navigate a.prev:before { content: "."; display: inline-block; top: 50%; bottom: 50%; position: absolute; width: 27px; height: 45px; margin-top: -23px; background: transparent url('/templates/jungle/static/images/modal_arrows.png') no-repeat left top; }
							#gallery_modal .image .navigate a.next:before { right: 20px; background-position: -24px 0; }
								#gallery_modal .image:hover .navigate a.next:before { background-position: -24px 0; }
							#gallery_modal .image .navigate a.prev:before { left: 20px; background-position: -80px 0; }
								#gallery_modal .image:hover .navigate a.prev:before { background-position: -80px 0; }
			
			#gallery_modal .etc { position: absolute; right: 0; top: 0; bottom: 0; z-index: 14; border-left: 1px solid #a0a0a0; height: 100%; width: 370px; background: #f1f1f1; text-align: left; }
				#gallery_modal .gallery_modal_header { position: relative; display: block; padding: 18px 18px 18px 18px; background-color: #fbfbfb; border-bottom: 1px solid #cecece; }
					#gallery_modal .gallery_modal_header .gallery_header_title { font: normal normal bold 18px/22px Helvetica; color: #000; margin-bottom: 6px; text-decoration: none; }
					#gallery_modal .gallery_modal_header .gallery_header_iteration { font: italic normal normal 12px/14px Helvetica; color: #797979; margin-bottom: 10px; }
						#gallery_modal .gallery_modal_header .gallery_header_iteration .gallery_iteration, #gallery_modal .gallery_modal_header .gallery_header_iteration .gallery_count { font-weight: bold; }
					#gallery_modal .gallery_modal_header .gallery_header_meta { font: normal normal normal 12px/14px Helvetica; color: #aaa; }
					#gallery_modal .gallery_modal_header .gallery_modal_button_close { position: absolute; top: 0; right: 0; font: normal normal bold 14px/14px Helvetica; color: #797979; text-decoration: none; padding: 5px 7px 10px 10px; background-color: transparent;
						-webkit-border-bottom-left-radius: 7px;
						-moz-border-radius-bottomleft: 7px;
						border-bottom-left-radius: 7px;
					}
						#gallery_modal .gallery_modal_header .gallery_modal_button_close:hover { text-decoration: none; color: #fbfbfb; background-color: #797979; cursor: pointer; }
					#gallery_modal .gallery_modal_header .gallery_modal_button_flag { position: absolute; bottom: 12px; right: 9px; font: normal normal bold 12px/12px Helvetica; color: #000; display: inline-block; padding: 5px 12px 5px 12px; border: 1px solid #ccc; border-bottom-color: #ababab; border-left-color: #c8c8c8; border-right-color: #c8c8c8;
						border-radius: 3px;
						
						box-shadow: inset 0 0 1px 1px #fff;
						
						background-color: #fafafa;
						
						background-image: -ms-linear-gradient(top, #FFFFFF 0%, #E6E6E6 100%);
						background-image: -moz-linear-gradient(top, #FFFFFF 0%, #E6E6E6 100%);
						background-image: -o-linear-gradient(top, #FFFFFF 0%, #E6E6E6 100%);
						background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #E6E6E6));
						background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #E6E6E6 100%);
						background-image: linear-gradient(to bottom, #FFFFFF 0%, #E6E6E6 100%);
					}
						#gallery_modal .gallery_modal_header .gallery_modal_button_flag:hover { text-decoration: none;
							box-shadow: inset 0 0 1px 1px #fff, 0 2px 5px 1px rgba(200, 200, 200, 0.3), 0 2px 2px rgba(100, 100, 100, 0.2);
						}
						
						#gallery_modal .gallery_modal_header .gallery_modal_button_flag:active { color: #888;
							box-shadow: inset 0px 0px 2px rgba(119, 119, 119, .75), 0px 1px 0px rgba(255, 255, 255, 1);
							background-image: -ms-linear-gradient(top, #E1E1E1 0%, #F1F1F1 100%);
							background-image: -moz-linear-gradient(top, #E1E1E1 0%, #F1F1F1 100%);
							background-image: -o-linear-gradient(top, #E1E1E1 0%, #F1F1F1 100%);
							background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #E1E1E1), color-stop(1, #F1F1F1));
							background-image: -webkit-linear-gradient(top, #E1E1E1 0%, #F1F1F1 100%);
							background-image: linear-gradient(to bottom, #E1E1E1 0%, #F1F1F1 100%);
							border-top: 1px solid #AAA;
						}
					
				#gallery_modal .gallery_modal_content { padding: 10px; }
	
	
	