	
	
	/* CSS Reset - http://meyerweb.com/eric/tools/css/reset/index.html */
		html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
		article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
		body { line-height: 1; }
		ol, ul { list-style: none; }
		blockquote, q { quotes: none; }
		blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
		table { border-collapse: collapse; border-spacing: 0; }
	
	/* Fixes */
		.afterfix:before, .afterfix:after { content: '.'; display: block; overflow: hidden; visibility: hidden; font-size: 0; line-height: 0; width: 0; height: 0; } .afterfix:after { clear: both; } .afterfix { zoom: 1; }
	
	
	/* Styling */
		body { background: #f0f0f0; margin: 0; padding: 0; text-align: center; overflow-y: scroll; }
		html { height: 100% !important; }
		body { height: 100% !important; }
		
		body, div, a, input, textarea, select, option { font-family: Verdana; font-weight: normal; font-size: 12px; color: #303030; }
		
		strong, b, .bold { font-weight: bold; }
		i, .italic { font-style: italic; }
		u, .underline { text-decoration: underline; }
		
		p, hr { margin-bottom: 20px; }
		
		a { color: #3366CC; }
			a.disabled { cursor: default !important; }
		input[type="submit"], input[type="button"], input[type="reset"] { border: 1px solid #acacac; background-color: #eaeaea; color: #808080; padding: 5px 20px; font-weight: bold; color: #555; cursor: pointer;
			background-image: -ms-linear-gradient(top, #F0F0F0 0%, #E5E5E5 100%);
			background-image: -moz-linear-gradient(top, #F0F0F0 0%, #E5E5E5 100%);
			background-image: -o-linear-gradient(top, #F0F0F0 0%, #E5E5E5 100%);
			background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F0F0F0), color-stop(1, #E5E5E5));
			background-image: -webkit-linear-gradient(top, #F0F0F0 0%, #E5E5E5 100%);
			background-image: linear-gradient(to bottom, #F0F0F0 0%, #E5E5E5 100%);
		}
			input[type="submit"]:hover, input[type="button"]:hover, input[type="reset"]:hover { border-color: #7eb4ea; color: #569de5; background-color: #e4f0fc;
				background-image: -ms-linear-gradient(top, #ECF4FC 0%, #DCECFC 100%);
				background-image: -moz-linear-gradient(top, #ECF4FC 0%, #DCECFC 100%);
				background-image: -o-linear-gradient(top, #ECF4FC 0%, #DCECFC 100%);
				background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ECF4FC), color-stop(1, #DCECFC));
				background-image: -webkit-linear-gradient(top, #ECF4FC 0%, #DCECFC 100%);
				background-image: linear-gradient(to bottom, #ECF4FC 0%, #DCECFC 100%);
			}
				input[type="submit"]:active, input[type="button"]:active, input[type="reset"]:active { border-color: #569de5; color: #7eb4ea; background-color: #d1e7fc;
					background-image: -ms-linear-gradient(top, #DAECFC 0%, #C4E0FC 100%);
					background-image: -moz-linear-gradient(top, #DAECFC 0%, #C4E0FC 100%);
					background-image: -o-linear-gradient(top, #DAECFC 0%, #C4E0FC 100%);
					background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #DAECFC), color-stop(1, #C4E0FC));
					background-image: -webkit-linear-gradient(top, #DAECFC 0%, #C4E0FC 100%);
					background-image: linear-gradient(to bottom, #DAECFC 0%, #C4E0FC 100%);
				}
		
		     ::-o-selection { background: #fffabf; color: #303030; }
		   ::-moz-selection { background: #fffabf; color: #303030; }
		::-webkit-selection { background: #fffabf; color: #303030; }
		        ::selection { background: #fffabf; color: #303030; }
		
		input::-webkit-input-placeholder { opacity: 0.3; }
		input:-moz-placeholder { opacity: 0.3; }
		input:-ms-input-placeholder { opacity: 0.3; }
		
		pre, .breakspace {
			white-space: pre-wrap; /* css-3 */
			white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
			white-space: -pre-wrap; /* Opera 4-6 */
			white-space: -o-pre-wrap; /* Opera 7 */
			word-wrap: break-word; /* Internet Explorer 5.5+ */
		}
	
	
	/* Errors */
	
		#error_page { text-align: center; padding-top: 50px; margin-bottom: 250px; }
			#error_page .header { font-size: 300px; font-family: 'Open Sans', sans-serif; }
			#error_page .message { font-size: 22px; }
				#error_page .message a { font-size: 22px; }
	
	
	/* Individual reused elements */
	
		.page_title { font-family: 'Open Sans', Arial, sans-serif; font-weight: normal; font-size: 28px; line-height: 28px; margin: 0 0 10px 10px; }
			.page_title span { font-family: inherit; font-size: inherit; line-height: inherit; font-weight: bold; }
			.page_title a { font-family: inherit; font-size: inherit; font-weight: bold; line-height: inherit; text-decoration: none; }
				.page_title a:hover { text-decoration: underline; }
		.section_title { font-family: 'Open Sans', Arial, sans-serif; font-weight: bold; font-size: 20px; line-height: 20px; margin: 0 0 10px 0; }
			.section_title a { font-family: inherit; font-size: inherit; font-weight: bold; line-height: inherit; text-decoration: none; }
				.section_title a:hover { text-decoration: underline; }
		.sub_title { font-family: 'Open Sans', Arial, sans-serif; font-weight: bold; font-size: 14px; line-height: 16px; margin: 0 0 10px 0; }
			.sub_title a { font-family: inherit; font-size: inherit; font-weight: bold; line-height: inherit; text-decoration: none; }
				.sub_title a:hover { text-decoration: underline; }
			
		.button_submit { vertical-align: text-bottom; background: #3366CC; font: normal normal normal 12px/12px Verdana; color: #fafafa; text-shadow: 1px 1px 1px rgba(50, 50, 50, 0.3); border: 1px solid #22608C; padding: 9px 30px; cursor: pointer; text-decoration: none;
			-moz-border-radius: 2px;
			-webkit-border-radius: 2px;
			border-radius: 2px;
			
			box-shadow: inset 0 1px 1px rgba(240, 240, 240, 0.4), 0 0 5px rgba(100, 100, 100, 0.6);
			
			background-image: linear-gradient(bottom, rgb(80,134,191) 100%, rgb(8,79,133) 0%);
			background-image: -o-linear-gradient(bottom, rgb(80,134,191) 100%, rgb(8,79,133) 0%);
			background-image: -moz-linear-gradient(bottom, rgb(80,134,191) 100%, rgb(8,79,133) 0%);
			background-image: -webkit-linear-gradient(bottom, rgb(80,134,191) 100%, rgb(8,79,133) 0%);
			background-image: -ms-linear-gradient(bottom, rgb(80,134,191) 100%, rgb(8,79,133) 0%);
			
			background-image: -webkit-gradient(
				linear,
				left bottom,
				left top,
				color-stop(1, rgb(80,134,191)),
				color-stop(0, rgb(8,79,133))
			);
		}
			.button_submit:hover {
				box-shadow: inset 0 1px 1px rgba(240, 240, 240, 0.4), 0 0 10px rgba(100, 100, 100, 0.8);
			}
			
			.button_submit:active { color: rgba(240, 240, 240, 0.6);
				text-shadow: 0 0 0 transparent;
				box-shadow: 0 0 5px rgba(100, 100, 100, 0.7);
				
				background-image: linear-gradient(bottom, rgb(18,95,153) 100%, rgb(80,134,191) 0%);
				background-image: -o-linear-gradient(bottom, rgb(18,95,153) 100%, rgb(80,134,191) 0%);
				background-image: -moz-linear-gradient(bottom, rgb(18,95,153) 100%, rgb(80,134,191) 0%);
				background-image: -webkit-linear-gradient(bottom, rgb(18,95,153) 100%, rgb(80,134,191) 0%);
				background-image: -ms-linear-gradient(bottom, rgb(18,95,153) 100%, rgb(80,134,191) 0%);
				
				background-image: -webkit-gradient(
					linear,
					left bottom,
					left top,
					color-stop(1, rgb(18,95,153)),
					color-stop(0, rgb(80,134,191))
				);
			}
	
	
	/* Structure */
		#header { display: table; width: 100%; margin: 0; text-align: center; min-width: 1000px; padding: 10px 0; }
			#logo { float: left; display: table-cell; width: 115px; text-align: center; margin-left: 10px; }
				#logo a { display: block; text-align: center; width: 115px; padding-top: 8px; font: normal normal normal 19px/22px Verdana; color: #707070; text-decoration: none; border-bottom: 2px solid transparent;
					     -o-transition: color 0.3s;
					   -moz-transition: color 0.3s;
					    -ms-transition: color 0.3s;
					-webkit-transition: color 0.3s;
					        transition: color 0.3s;
				}
					#logo a:hover { text-decoration: none; color: #3366CC; }
			#header_search { float: left; display: table-cell; width: 550px; }
				#header_search label { display: none; }
				#header_search input[type='text'] { border: 1px solid rgba(50, 50, 50, 0.3); width: 430px !important; padding: 5px 10px; width: 450px; font: normal normal normal 18px/18px Verdana; color: #303030; outline: none; background: #fff;
					-webkit-border-bottom-left-radius: 5px;
					    -moz-border-radius-bottomleft: 5px;
					        border-bottom-left-radius: 5px;
				}
					#header_search input[type='text']:hover, #header_search input[type='text']:active, #header_search input[type='text']:focus, #header_search.header_search_auto_complete input[type='text'] { border-color: #3366CC; outline: none; }
				#header_search input[type='submit'] { display: inline-block; padding: 7px 10px; text-align: center; font: normal normal normal 18px/18px Verdana; cursor: pointer;
					-webkit-border-bottom-right-radius: 5px;
					    -moz-border-radius-bottomright: 5px;
					        border-bottom-right-radius: 5px;
				}
				
				#auto_complete { width: 450px; background: #fff; border: 1px solid #3366CC; border-top: 0; margin: -5px 0 0 3px; text-align: left; position: absolute; z-index: 999; }
					#auto_complete_results { display: block; width: 100%; }
						#auto_complete_results li { display: block; border-top: 1px solid #e0e0e0; }
							#auto_complete_results li:first-child { border-top: 0; }
							#auto_complete_results li:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
							#auto_complete_results li:hover { cursor: pointer; background-color: #f0f0f0; }
							#auto_complete_results li.acr_selected { background-color: #f0f0f0; }
							#auto_complete_results li a.acr_anchor { position: relative; display: table; width: 100%; margin: 5px; min-height: 50px; text-decoration: none; }
								#auto_complete_results li .acr_thumb { position: absolute; top: 0; left: 0; width: 50px; height: 50px; vertical-align: middle; }
								#auto_complete_results li .acr_title { display: block; margin-left: 60px; padding-top: 18px; vertical-align: middle; text-decoration: none; }
									#auto_complete_results li a.acr_anchor:hover .acr_title { color: #3366CC; text-decoration: none; }
							#auto_complete_results li .acr_anchor_full { display: block; text-align: center; padding: 15px 5px; font-weight: bold; color: #3366CC; text-decoration: none; background-color: #f3f3f3; }
								#auto_complete_results li .acr_anchor_full:hover, #auto_complete_results li.acr_selected .acr_anchor_full { cursor: pointer; background-color: #f0f0f0; text-decoration: underline; }
			
			#add_entity { float: right; width: 150px; text-align: right; padding-top: 10px; margin-right: 15px; }
				#add_entity .add_entity_anchor {  }
			
			#user_account_control { float: right; width: 200px; text-align: right; margin-right: 15px; }
				#user_account_control .uac_avatar { float: right; margin-left: 10px; display: block; width: 36px; height: 36px; }
					#user_account_control .uac_avatar_img { display: inline-block; width: 36px; height: 36px; }
				#user_account_control .uac_identity { padding-top: 12px; }
					#user_account_control a.uac_name { color: #303030; text-decoration: none; font-size: 13px; }
						#user_account_control a.uac_name:hover { color: #303030; text-decoration: underline; }
					#user_account_control a.uac_etc { display: inline-block; vertical-align: text-bottom; width: 10px; height: 12px; background: transparent url('../images/down_arrow.png') no-repeat center center; font-size: 1px; text-indent: -9999px; color: transparent; }
		
		#app { position: relative; margin: 0 15px; padding-bottom: 20px; text-align: left; }
			
			/* One-sided [center, 1000px] */
			#app.center-sided { margin: 0 auto 0 auto; width: 1000px; }
			
			/* Two-sided */
			#facade { position: absolute; top: 0; left: 0; width: 200px; }
				#facade .menu { margin-bottom: 20px; }
					#facade .menu li { text-align: right; }
						#facade .menu li a { display: block; padding: 5px 5px; text-decoration: none; color: #303030; text-align: right; font-size: 14px; font-family: 'Open Sans', Arial, sans-serif; }
							#facade .menu li a:hover { text-decoration: underline; }
							#facade .menu li.active { position: relative; }
								#facade .menu li.active:after { content: "."; text-indent: -9999px; color: transparent; font-size: 1px; width: 10px; height: 37px; position: absolute; top: 0; right: 0; margin-top: -3px; margin-right: -11px; z-index: 2; background: transparent url('../images/facade_menu_item_active.png') no-repeat left top; }
								#facade .menu li.active a { /*font-weight: bold; color: #3366CC;*/ }
			
			#main { position: relative; margin-left: 210px; }
				#main #main_wrapper { border: 1px solid #dcddef; background-color: #fafafa; padding: 10px; min-height: 800px;
					border-radius: 5px;
					
					box-shadow: 0 0 8px rgba(200, 200, 200, 0.5);
				}
				#main .page_breadcrumb { position: absolute; top: 10px; right: 10px; text-align: right; display: inline-block; font-size: 16px; line-height: 20px; color: #909090; }
					#main .page_breadcrumb a { font-size: inherit; line-height: inherit; color: inherit; text-decoration: none; }
						#main .page_breadcrumb a:hover { text-decoration: underline; }
					#main .page_breadcrumb span { font-weight: bold; }
				
				@media only screen and (max-width: 1000px) {
					#main .page_title { margin-bottom: 5px; }
					#main .page_breadcrumb { position: static; top: auto; right: auto; padding-top: 0; margin-bottom: 10px; }
						#main .page_breadcrumb, #main .page_breadcrumb a { font-size: 12px; line-height: 14px; }
				}
			
			/* Three-sided */
			#app.three-sided #main { margin-right: 220px; }
			
			#notes { position: absolute; top: 0; right: 0; width: 200px !important; padding: 0 10px; width: 220px; }
				.app__entity_view #notes { padding-top: 48px; }
				#notes .notes_title { font-family: 'Open Sans', Arial, sans-serif; font-size: 14px; color: #999; text-transform: lowercase; }
				#notes .menu { margin-bottom: 20px; }
					#notes .menu li { padding-top: 4px; }
						#notes .menu li a { color: #303030; text-decoration: none; }
							#notes .menu li a:hover, #notes .menu li.active a { text-decoration: underline; }
			
		
		#footer { width: auto; display: inline-block; position: fixed; padding: 5px 15px; bottom: 0; right: 0; margin: 0 auto; text-align: center; list-style: none; background: #fafafa;
			     -o-transition: all 0.3s;
			   -moz-transition: all 0.3s;
			    -ms-transition: all 0.3s;
			-webkit-transition: all 0.3s;
			        transition: all 0.3s;
			
			-webkit-border-top-left-radius: 5px;
			-moz-border-radius-topleft: 5px;
			border-top-left-radius: 5px;
			
			box-shadow: 0 0 15px #fafafa;
		}
			#footer:hover { box-shadow: 0 0 15px #505050; }
			#footer li { display: inline; margin: 0 5px; text-align: center; }
				#footer li a { text-transform: lowercase; text-decoration: none; color: #808080; border-bottom: 1px solid transparent; }
					#footer li a:hover { text-decoration: none; border-color: #3366CC; }
	
	
	/* Frontpage + Entity Type View */
	
		#welcome { text-align: center; padding-bottom: 20px; border-bottom: 1px solid #c0c0c0; margin-bottom: 50px; }
			.welcome_line { margin-bottom: 5px; font-size: 26px; letter-spacing: 2px; }
			.welcome_logo { font-size: 72px; font-weight: bold; color: #3366CC; margin-bottom: 15px; }
			.welcome_suffix { font-size: 22px; letter-spacing: 2px; text-transform: lowercase; }
		
		#photo_wall { display: table; width: 100%; margin-bottom: 20px; }
			.pw_row { display: table; width: 1000px; margin-bottom: 20px; }
				a.pw_anchor { float: left; width: 320px; display: block; margin-left: 20px; color: #000; text-decoration: none; border-bottom: 0; }
					a.pw_anchor:first-child { margin-left: 0; }
					.pw_img { width: 320px; height: 150px; }
					.pw_context { background-color: #e9e9e9; height: 14px !important; padding: 3px 6px; height: 20px; color: #000; font-weight: normal; font-size: 11px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
						.pw_context strong { font-weight: normal; }
			.pw_row_large {  }
				.pw_large { width: 660px; float: left; }
					.pw_large .pw_anchor { width: 660px; }
						.pw_large .pw_img { width: 660px; height: 340px; }
				.pw_side { width: 320px; float: right; }
					.pw_side .pw_anchor { float: auto; margin-left: 0; }
						.pw_side .pw_anchor:first-child { margin-bottom: 20px; }
				.pw_row_large_right {  }
					.pw_row_large_right .pw_large { float: right; }
					.pw_row_large_right .pw_side { float: left; }
		
		.entity_type_header { margin-bottom: 15px; border-bottom: 1px solid #c0c0c0; }
			.page_title.eth_title { font-weight: normal; }
	
	
	
	/* Entity View */
	
		#facade .primary_photo { display: block; width: 200px; margin-bottom: 20px; }
			#facade .primary_photo img { max-width: 200px; }
		
		.entity_excerpt { margin-bottom: 20px; font-size: 14px; line-height: 20px; }
			.entity_excerpt a { font-size: 14px; line-height: 20px; }
			.entity_excerpt p:last-child { margin-bottom: 0; }
			.entity_excerpt a.entity_excerpt_via { color: #c0c0c0; text-decoration: none; }
				.entity_excerpt a.entity_excerpt_via:hover span { text-decoration: underline; }
		.entity_external_links { margin-bottom: 15px; display: table; width: 100%; }
			.entity_external_links li { margin-bottom: 5px; }
				.entity_external_links li a.external_link { display: block; text-align: center; font-size: 12px; line-height: 12px; padding: 10px 0; text-decoration: none; }
					.entity_external_links li a.external_link:hover { text-decoration: underline; background-color: #f0f0f0; }
					.entity_external_links li a.external_link_imdb { text-indent: -9999px; font-size: 1px; color: transparent; background: transparent url('../images/external_links/imdb.png') no-repeat center top; padding: 0; height: 60px; /*width: 124px;*/ }
					.entity_external_links li a.external_link_wikipedia { text-indent: -9999px; font-size: 1px; color: transparent; background: transparent url('../images/external_links/wikipedia.png') no-repeat center top; padding: 0; height: 60px; /*width: 87px;*/ }
		
		/* Media Preview Bar */
		.entity_media_preview { display: block; width: 100%; position: relative; height: 100px; margin-bottom: 20px; overflow: hidden; }
			.entity_media_preview_text { position: absolute; z-index: 500; display: block; bottom: 25px; left: 25px; font-size: 20px; color: #fff; text-decoration: none; background-color: transparent; opacity: 0.8; text-shadow: 0 0 8px #000;
				     -o-transition: opacity 0.2s;
				    -ms-transition: opacity 0.2s;
				   -moz-transition: opacity 0.2s;
				-webkit-transition: opacity 0.2s;
				        transition: opacity 0.2s;
			}
				.entity_media_preview:hover .entity_media_preview_text { color: #fafafa; text-decoration: none; opacity: 1.0; text-shadow: 0 0 5px #000; }
			.entity_media_preview_images { width: 2000px; height: 100px; }
				.entity_media_preview_image { float: left; width: 100px; height: 100px; display: inline-block; margin-right: 5px;
					     -o-transition: opacity 0.2s;
					    -ms-transition: opacity 0.2s;
					   -moz-transition: opacity 0.2s;
					-webkit-transition: opacity 0.2s;
					        transition: opacity 0.2s;
				}
					.entity_media_preview:hover .entity_media_preview_image { opacity: 0.6; }
		
		/* Media grid */
		.entity_media_table { display: table; width: 100%; margin: 0 0 0 0; }
			.entity_media_table_item { display: inline-block; position: relative; overflow: hidden; width: 200px; background: #fafafa; margin: 0 5px 5px 0; }
			.entity_media_table_anchor { display: inline-block; position: relative; width: 200px; }
				.entity_media_table_image { display: inline-block; width: 200px; height: auto; }
				.entity_media_table_settings_icon { opacity: 0; position: absolute; z-index: 4; bottom: 7px; right: 5px; display: block; width: 24px; height: 24px; font-size: 1px; color: transparent; text-indent: -9999px; outline: none; background: transparent url('../images/icons/gear_24.png') no-repeat left top; cursor: pointer;
					     -o-transition: opacity 0.2s;
					   -moz-transition: opacity 0.2s;
					    -ms-transition: opacity 0.2s;
					-webkit-transition: opacity 0.2s;
					        transition: opacity 0.2s;
				}
					.entity_media_table_anchor:hover .entity_media_table_settings_icon { opacity: 1; }
			.entity_media_table_settings_pane { display: none; position: absolute; z-index: 5; overflow-y: auto; width: 180px !important; padding: 10px; width: 200px; margin: 0; background: #f0f0f0; word-break: break-all; }
			.entity_media_table_content_type { text-align: center; margin-bottom: 4px; }
			.entity_media_table_details {  }
				.entity_media_table_detail_meta { display: table; width: 100%; }
					.entity_media_table_detail_meta_left { float: left; display: inline-block; margin: 0 5px 5px 0; }
					.entity_media_table_detail_meta_right { float: right; display: inline-block; margin: 0 5px 0 5px; }
				.entity_media_table_detail_filesize {  }
				.entity_media_table_detail_dimensions {  }
				.entity_media_table_detail_date_downloaded {  }
				.entity_media_table_detail_source { padding-top: 5px; text-align: center; }
		
		/* External IDs */
		.entity__external_id_list { padding: 15px 0; }
			.entity__external_id_list li { margin: 0 0 10px 0; padding: 5px; }
				.entity__external_id_list li:hover { background-color: #f0f0f0; }
		
		/* Update */
		.entity_update_text { border: 1px solid #c0c0c0; padding: 5px 8px; width: 635px; font: normal normal normal 14px/14px Verdana; color: #303030; }
			.entity_update_text_partial { width: 450px; }
		.entity_update_textarea { border: 1px solid #c0c0c0; padding: 5px 8px; height: 90px; width: 635px; font: normal normal normal 14px/18px Verdana; color: #303030; }
			.entity_update_textarea_partial { width: 450px; }
		.entity_update_text_inline { width: 300px; border: 0 solid transparent; border-bottom: 1px solid #c0c0c0; }
		.entity_update_text_left { width: 90%; }
		
		.entity_update_text:hover, .entity_update_text:active,
		.entity_update_textarea:hover, .entity_update_textarea:active,
		.entity_update_text_inline:hover, .entity_update_text_inline:active,
		.entity_update_text_left:hover, .entity_update_text_left:active { outline: none; border-color: #3366CC; } 
		
		.entity_meta_update_row:hover { background-color: #fafafa; }
			.entity_meta_update_row:hover tr:first-child { border-top-color: #3366cc; }
		
		.entity_meta_update_row_to_delete, .entity_meta_update_row_to_delete:hover tr { background-color: #ffeeee !important; }
			.entity_meta_update_row_to_delete tr:first-child, .entity_meta_update_row_to_delete:hover tr:first-child { border-top: 1px solid #ff0000 !important; }
		
		.focus_link { background: #f0f0f0; padding: 25px 0; text-align: center; margin: 0 0 20px 0; }
			.focus_link_anchor { font-size: 20px; }
			.focus_link_message { padding-top: 7px; text-align: center; text-transform: lowercase; }
		
		#jungledb_modal { position: fixed; z-index: 8000; width: 100%; height: 100%; display: table; background: #fff; background-color: rgba(230, 230, 230, 0.5); }
			#jungledb_modal_position { display: table-cell; vertical-align: middle; width: 100%; text-align: center; }
				#jungledb_modal_inner { z-index: 8100; width: 800px; margin: 40px auto 40px auto; padding: 15px; background: #fff; text-align: left;
					border-radius: 5px;
					
					box-shadow: 0 0 5px #d0d0d0;
				}
		
	
	
	/* Wikipedia text formatting */
		
		.wiki_text_paragraph { line-height: 18px; color: #303030;
			     -o-transition: color 0.3s;
			   -moz-transition: color 0.3s;
			    -ms-transition: color 0.3s;
			-webkit-transition: color 0.3s;
			        transition: color 0.3s;
		}
			.wiki_text_paragraph a { font-weight: normal; color: #303030; text-decoration: none; border-bottom: 1px solid #e2e2e2; }
			
			.wiki_text_paragraph, .wiki_text_paragraph a {
				     -o-transition: all 0.3s;
				   -moz-transition: all 0.3s;
				    -ms-transition: all 0.3s;
				-webkit-transition: all 0.3s;
				        transition: all 0.3s;
			}
			
			.wiki_text_paragraph:hover { }
				.wiki_text_paragraph:hover a { color: #111; border-color: #909090; }
					.wiki_text_paragraph:hover a:hover { color: #000; border-color: #3366CC; }
		
		.wiki_inline_list, .wiki_timeline_year { margin: 0 0 10px 20px; }
			.wiki_inline_list li, .wiki_timeline_year li { list-style: square; margin-bottom: 10px; }
		
		table.wiki_table { width: 100%; margin: 0 0 15px 0; }
			table.wiki_table td { padding: 5px; }
			table.wiki_table thead td { font-weight: bold; }
			table.wiki_table tr:hover { background-color: #fafafa; }
				table.wiki_table thead tr:hover { background-color: #fff; }
			table.wiki_table tbody tr { border-top: 1px solid #e0e0e0; }
			table.wiki_table tbody td { border-left: 1px solid #e0e0e0; }
				table.wiki_table tbody td:first-child { border-left: 0; }
			table.wiki_table tbody .wiki_table_tbody_first_row td { border-top: 1px solid #303030; }
	
	
	/* Search Results */
	
		.search_preheader { margin-bottom: 5px; }
			.search_preheader a { font: normal normal normal 11px/13px Verdana; color: #707070; text-decoration: none; }
				.search_preheader a:hover { text-decoration: underline; }
		.search_header { margin-bottom: 10px; }
			.search_header a { font: normal normal bold 26px/29px Verdana; color: #3366cc; text-decoration: none; }
				.search_header a:hover { text-decoration: underline; }
			.search_header .search_header_details { font: normal normal normal 20px/29px Verdana; color: #c0c0c0; padding-left: 10px; }
		
		.search_subheader { font: normal normal bold 12px/15px Verdana; color: #303030; border-bottom: 1px solid #c0c0c0; padding-bottom: 3px; margin-bottom: 10px; }
		.search_subsection { margin: 0 10px 30px 10px; }
		
		#search_container { position: relative; margin: 0 auto 20px auto; text-align: left; }
			#search_side { position: absolute; top: 0; left: 0; width: 200px; }
			#search_main { margin-left: 220px; }
		
		#search_pagination { text-align: center; margin: 0 auto 20px auto; padding: 15px 0; border-top: 1px solid #c0c0c0; border-bottom: 1px solid #c0c0c0; background-color: #f0f0f0; }
			#search_pagination a.page_iteration { display: inline-block; margin: 0 5px 0 5px; border: 1px solid rgba(50, 50, 50, 0.3); padding: 6px 10px; background-color: #fff; font: normal normal normal 12px/12px Verdana; color: #555; }
				#search_pagination a.page_iteration:hover { border-color: #3366CC; color: #3366CC; text-decoration: none; }
				#search_pagination a.page_iteration_active { font-weight: bold; border-color: #3366CC; color: #3366CC; }
					#search_pagination a.page_iteration_active:hover {  }
				#search_pagination a.page_iteration_first { font-weight: bold; }
					#search_pagination a.page_iteration_first:hover {  }
				#search_pagination a.page_iteration_previous { font-weight: bold; border-color: #3366CC; }
					#search_pagination a.page_iteration_previous:hover {  }
				#search_pagination a.page_iteration_next { font-weight: bold; border-color: #3366CC; }
					#search_pagination a.page_iteration_next:hover { font-weight: bold; }
				#search_pagination a.page_iteration_last { font-weight: bold; }
					#search_pagination a.page_iteration_last:hover { font-weight: bold; }
			#search_pagination a { font: normal normal old 16px/19px Georgia, Palatino, serif; color: #3366CC; text-decoration: none; }
				#search_pagination a:hover { text-decoration: underline; }
			#search_pagination a.spp_disabled, #search_pagination a.spp_disabled:hover { display: none; }
		
		#search_data { text-align: center; font: normal normal normal 11px/11px Verdana; color: #c0c0c0; }
		.search_stats { text-align: center; margin-bottom: 15px; color: #c0c0c0; }
		
		.search_refine { display: block; margin: 0 0 15px 0; }
			.search_refine li { display: block; margin: 0; }
				.search_refine li a.search_type_refine_anchor { position: relative; display: block; padding: 8px 10px; font: normal normal normal 12px/12px Verdana; color: #303030; text-decoration: none;
					border-radius: 4px;
				}
					.search_refine li a.search_type_refine_anchor:hover { background: #f0f0f0; }
						.search_refine li a.search_type_refine_anchor_selected, .search_refine li a.search_type_refine_anchor_selected:hover { background: #3366CC; color: #fff; }
					.search_refine li a.search_type_refine_anchor .search_type_title {  }
						.search_refine li a.search_type_refine_anchor_selected .search_type_title { color: #fff; font-size: 14px; }
						.search_refine li.search_type_refine_child a .search_type_title { padding-left: 10px; }
					.search_refine li a.search_type_refine_anchor .search_type_count { text-align: right; display: inline-block; position: absolute; z-index: 50; top: 8px; right: 10px; }
						.search_refine li a.search_type_refine_anchor_selected .search_type_count { color: #fff; font-size: 14px; }
		
		#search_results {  }
		.search_result { width: 780px; padding-top: 2px; padding-bottom: 2px; border-bottom: 2px solid #f0f0f0; }
			.search_result:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
			.search_result_thumbless {  }
			
			.search_result_anchor { display: table; width: 760px !important; padding: 10px; width: 780px; cursor: pointer; }
				.search_result_anchor:hover { background-color: #e3f1ff; }
				.search_result_thumb_container { display: inline-block; float: left; overflow: hidden; margin-right: 10px; border-radius: 4px; background-color: #e0e0e0; width: 90px !important; height: 90px !important; padding: 4px; width: 98px; height: 98px; }
					img.search_result_thumb { width: 90px; height: 90px; border-radius: 4px; }
				.search_result_text_container { position: relative; float: left; width: 650px; padding-top: 8px; padding-bottom: 8px; }
					.search_result_title { font-size: 14px; font-weight: bold; display: inline-block; margin-right: 10px; }
					.search_result_breadcrumb { position: absolute; top: 12px; right: 0; display: inline-block; }
						.search_result_breadcrumb strong {  }
					.search_result_description {  }
	
	